.App {
  text-align: center;
}

.app-body {
  position: relative;
  top: 100px;
}

.login-news-split {
  display: flex;
}

.login-area {
  background-color: blue;
  width: 50vw;
  height: 100px;
}
.news-area {
  background-color: red;
  width: 50vw;
  height: 400px;
}
.carousel-area {
  background-color: cadetblue;
  width: 50vw;
  position: relative;
  top: -325px;
  height: 305px;
}
